{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>
<p class="tagline"><i>{{.Params.studio}}</i> ({{.Params.release_date}})</p>

<div class="row-container wide">
    <iframe src="{{ .Params.featured_video }}" class="feature-video">        
    </iframe>
    <div class="feature-desc">
        <p class="inner-header">Platforms</p>
        <p>{{.Params.platforms}}</p>
        <p class="inner-header">Engine Tools</p>
        <p>{{.Params.engine_tools}}</p>
        <p class="inner-header">Skill Focus</p>
        <p>{{.Params.skill_focus}}</p>
    </div>
</div>

<!-- <div class="container">
    <div class="column" style="background-color: grey">
        <p>test0!</p>
        <iframe width="420" height="150" allow="fullscreen;"
            src="https://www.youtube.com/embed/mV1eSyI8XA8">
        </iframe> 
    </div>
        
    <div class="column" style="background-color: yellow">
        <p>test!</p>
    </div>
</div>  -->

<!-- <img src={{ .Params.featured_img }} alt="Alt" class="image-style"> -->



{{ .Content }}

{{ partial "footer.html" . }}
